{% comment %}
  Renders product price

  Accepts:
  - product: {Object} main product

  Usage:
  {% render 'price-new', product: product %}
{% endcomment %}


<div class="tw-flex tw-gap-2.5">
    {%- if product.compare_at_price > product.price -%}
        <p class="tw-text-[18px] tw-font-bold tw-text-blue-500 tw-m-0">
            {{ product.price | money }}
        </p>
        <p class="tw-text-[18px] tw-font-normal tw-line-through tw-text-base-750 tw-m-0">
            {{ product.compare_at_price | money }}
        </p>
    {%- else -%}
        <p class="tw-text-[18px] tw-font-bold tw-text-blue-500 tw-m-0">
            {{ product.price | money }}
        </p>
    {%- endif -%}
</div>